<aside class="sidebar">

  <div class="sidebar-header">
    <h1>Meu Controle Financeiro</h1>
  </div>

  <nav class="sidebar-menu">

    <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Dashboard
    </a>

    <a routerLink="/lancamentos" routerLinkActive="active">
      Lançamentos
    </a>

    <a routerLink="/cartoes" routerLinkActive="active">
      Cartões
    </a>

    <a routerLink="/relatorios" routerLinkActive="active">
      Relatórios
    </a>

    <a routerLink="/objetivos" routerLinkActive="active">
      Objetivos
    </a>

  </nav>

</aside>