.sidebar {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.sidebar-header {
  flex-shrink: 0;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
}

.sidebar-menu a.active {
  font-weight: bold;
}