<section class="dashboard">

    <!-- CABEÇALHO -->
    <header class="page-header">
        <div>
            <h2>Visão Financeira</h2>
            <p>Visao geral e patrimonial</p>
        </div>

        <button>+ Importar extrato</button>
    </header>


    <!-- RESUMO FINANCEIRO -->
    <section class="summary-cards">

        <article class="summary-card">
            <span>Patrimonio Liquido</span>
            <strong>{{ patrimonioLiquido | currency:'BRL'}}</strong>
            <small>Ativos - passivos</small>
        </article>

        <article class="summary-card">
            <span>Dinheiro disponível</span>
            <strong>{{ dinheiroDisponivel | currency:'BRL'}}</strong>
            <small>Uso imediato</small>
        </article>

        <article class="summary-card">
            <span>Patrimônio / ativos</span>
            <strong>{{ patrimonioTotal | currency:'BRL'}}</strong>
            <small>inclui FGTS e direitos</small>
        </article>

        <article class="summary-card">
            <span>Dívidas / passivos</span>
            <strong>{{ dividas | currency:'BRL'}}</strong>
            <small>Cartões + parcelamentos</small>
        </article>

    </section>

    <!-- EVOLUÇAO E COMPOSIÇAO -->
    <section class="dashboard-grid">

        <!-- EVOLUÇAO -->
        <article class="panel evolution-panel">

            <div class="panel-header">
                <div>
                    <h3>Evoluão de patrimonio líquido</h3>
                    <p>Acompanhe a evolução ao longo dos meses.</p>
                </div>
            </div>

            <div class="chart-placeholder">
                @for (item of evolucaoPatrimonial; track item.mes) {
                <div class="chart-column">

                    <span class="chart-value">
                        {{item.valor | currency:'BRL':'symbol':'1.0-0'}}
                    </span>

                    <div class="chart-bar-area">
                        <div class="chart-bar" [style.height.%]="(item.valor / maiorValorPatrimonio) * 100"
                            [title]="item.valor | currency:'BRL'">
                        </div>
                    </div>

                </div>
                }
            </div>

        </article>

        <!-- COMPOSIÇÃO -->
        <article class="panel composition-panel">

            <div class="panel-header">
                <div>
                    <h3>Composiçao financeira</h3>
                    <p>Onde está seu patrimônio.</p>
                </div>
            </div>

            <div class="composition-list">
                @for (item of composicaoFinanceira; track item.nome) {

                <div class="composition-item">
                    <span>{{item.nome}}</span>
                    <strong>{{item.valor | currency:'BRL'}}</strong>
                </div>

                }
            </div>

        </article>

    </section>

    <!-- OBEJTIVOS E PROJEÇAO -->
    <section class="bottom-grid">

        <article class="panel">

            <div class="panel-header">
                <div>
                    <h3>Objetivos</h3>
                    <p>Acompanhe o que você está construindo</p>
                </div>

                <a routerLink="/objetivos">Ver objetivos</a>
            </div>

            <div class="goal">

                <div class="goal-header">
                    <span>{{objetivoPrincipal.nome}}</span>
                    <strong>{{percentualObjetivo | number:'1.1-1'}}%</strong>
                </div>

                <div class="progress-bar">
                    <div class="progress" [style.width.%]="percentualObjetivo">
                    </div>
                </div>

                <div class="goal-values">
                    <span>{{objetivoPrincipal.valorAtual | currency:'BRL'}}</span>
                    <span>{{objetivoPrincipal.valorMeta| currency:'BRL'}}</span>
                </div>

            </div>

        </article>

        <!-- PROJEÇAO -->
        <article class="panel">

            <div class="panel-header">
                <div>
                    <h3>Projeçao financeira</h3>
                    <p>Estimativa baseada no seu histórico.</p>
                </div>

                <a routerLink="/relatorios">Ver projeçao</a>
            </div>

            <div class="projection">
                <div>
                    <span>patrimonio projetado</span>
                    <strong>R$ 31.200,00 </strong>
                </div>
                <div>
                    <span>Prazo</span>
                    <strong>12 meses</strong>
                </div>
            </div>

        </article>

        <!-- IA -->
        <article class="panel ai-panel">

            <div class="panel-header">
                <div>
                    <h3>Análise por IA</h3>
                    <p>Uma visão geral da sua situção financeira.</p>
                </div>

                <button>Gerar análise</button>
            </div>

            <p class="ai-message">
                Seus gastos estão acima da média dos últimos meses. A análise detalhada será gerada a partir dos seus
                lançamentos, cartões, patrimônio e objetivos.
            </p>

        </article>

    </section>
</section>